<h2 class="screen-align">Createfeature2</h2>
<div id="template-iwwe" class="gjs-row">
    <div id="template-iiwj" class="gjs-cell">
        <label id="template-iamb" class="label ">Name</label>
        <input id="template-igst" [(ngModel)]="feature2.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <div id="template-ihcif" (click)="GpCreate()" class="button btn btn-primary ">Create</div>
    </div>
    <div id="template-i3lb" class="gjs-cell">
        <label id="template-iclc" class="label ">Description</label>
        <input id="template-ivhq" [(ngModel)]="feature2.description"
        [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
        />
    </div>
</div>